@tailwind base;
@tailwind components;
@tailwind utilities;

.chatgpt-button {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
    min-width: 70px;
    height: 30px;
    z-index: 20;
    visibility: hidden;
    background: var(--colab-primary-surface-color);
    border: 1px solid var(--colab-border-color);
    border-radius: 3px;
    box-shadow: var(--box-shadow-elevation-2dp);
    color: var(--colab-primary-text-color);
    height: 24px;
    margin: 0 11px;
    padding: 0 8px;
    cursor: pointer!important;
  }

  .chatgpt-button:hover {
    background-color: var(--colab-highlighted-surface-color);
  }
  
  .chatgpt-container {
    position: relative;
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: var(--colab-primary-surface-color);
    color: var(--colab-primary-text-color);
    font-family: var(--colab-chrome-font-family);
    font-size: var(--colab-chrome-font-size);
    margin-bottom: 10px;
  }
  
 
  .colab-button {
    height: 30px;
    z-index: 20;
    background: var(--colab-primary-surface-color);
    border: 1px solid var(--colab-border-color);
    border-radius: 3px;
    font-family: var(--colab-chrome-font-family);
    color: var(--colab-primary-text-color);
    height: 24px;
    padding: 0 8px;
  }

  .prompt-select, .prompt-area {
    background: var(--colab-primary-surface-color);
  }

  .colab-border {
    border: 1px solid var(--colab-border-color);
  }

  .colab-text {
    font-family: var(--colab-chrome-font-family);
    color: var(--colab-primary-text-color);
  }